@inherits LayoutComponentBase
@using BlazorMicrofrontends.AppShell.Components

<div class="page">
    <div class="main">
        <div class="content px-4">
            <MicrofrontendRouter />
        </div>
    </div>
</div> 