@page "/"

<PageTitle>Blazor Microfrontends</PageTitle>

<h1>Hello, Blazor Microfrontends!</h1>

Welcome to your new app shell.

<p>
    This app shell is designed to host microfrontends. You can add microfrontends to this app shell 
    using the Blazor Microfrontends CLI:
</p>

<pre>
bmf add -p path/to/microfrontend -a path/to/this/appshell
</pre>

<p>
    Once added, your microfrontends will appear in the navigation menu and can be accessed through their routes.
</p> 